@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color-scheme: dark;
}

body {
  @apply bg-lockdown-blue text-slate-100 antialiased;
}

a {
  @apply text-lockdown-cyan hover:text-white transition;
}
